<h1>About</h1>
<p>Welcome to Poly, a single location for Game Devs to find scripts, assets, and more.</p>

<hr>
<br>
<h2>What Is This?</h2>
<p>This is a single website for all resources game dev. Lots of different industies have something like this such as Webdev's having NPM but Game Dev's do not have their own.</p>

<hr>
<br>
<h2>How Does This Work?</h2>
<p>Users just create something called a "Poly". Its a play on Polygon because its video game based... get it... You provide Repository links, Unity Asset Store links, Unreal Asset Store Links or anything!</p>
<p>Search for something like "gamemaker" and anything with Gamemaker in the title or description will pop up for you to look at and download.</p>

<hr>
<br>
<h2>Is This A Package Manager</h2>
<p>Think of this like a Museum for Code. Users, submit their Poly's for others to look at or use. No, this is not a Package Manager. Gamedev requires scripts to be in certain locations. We can't just put things into a folder called "NodeModules" like NPM does. So we allow you to choose where to put them. We just show you where to download them!</p>

<hr>
<br>
<h2>Who Runs This?</h2>
<p>Poly is completely Open Source and run by a community of developers!</p>

<hr>
<br>
<h2>Why Should I use this?</h2>
<p>You no longer have to look on Twitter, Github, Bitbucket, or Asset Stores for what you need. Just search here and it brings up Poly's from all over the internet!</p>


<hr>
<br>
<h2>I Want To Make My Own Poly. What Do I Do?</h2>
<p>Just Sign Up and Create One!</p>

<hr>
<br>
<h2>Can I Contribute To The Website?</h2>
<p>Of Course! Just Go to our github page! </p>


<hr>
<br>
<h2>I Have More Questions!</h2>
<p>TO THE GITHUB ISSUES PAGE!</p>
