<h1>Support Poly.gg</h1>
<p>Anything will help, Below are multiple options for keeping the website going for everyone to use. Select whatever you feel fit!</p>

<hr>
<div class="row">
  <script src="https://gumroad.com/js/gumroad-embed.js"></script>
  <div class="gumroad-product-embed" data-gumroad-product-id="polysponsor"><a href="https://gumroad.com/l/polysponsor">Loading...</a></div>
</div>

<p>Thank you!</p>
