
<h1>Support Poly.gg</h1>
<p>Anything will help, Below are multiple options for keeping the website going for everyone to use.</p>
<hr>

<h1>Select whatever you feel comfortable with</h1>
<iframe src="https://gumroad.com/l/polysponsor" width="100%" height="800" frameborder="0">

<p>Thank you!</p>
