<div class="home__image-wrap">
  <div class="center jumbotron">
  <h1>Sign Up</h1>
  <h5>Becoming a Poly.gg user will give you access to creating your own Poly's to share with others</h5>
  <%= render 'form', user: @user %>
  </div>
</div>
