@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Work+Sans');

$gray-medium-light: #eaeaea;
$white: #FFFFFF;
$black: #000000;

.input-group {
  width: 100%
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: black;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: white;
}

.tr {
  width: 100%;
}

#spacer {
  padding-top: 8%;
}

#headerbg {
  background-color: $white;
}

/* forms */

#searchbar {
  width: 80%;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

#polytable {
  height: 100%;
  width: 100%;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

th, td {
  padding-top: 2%;
  padding-bottom: 2%;
}

#websitetitle {
  font-size: 25px;
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;

}

#website {
    font-size: 15px;
    font-family: 'Work Sans', sans-serif;
}

.jumbotron {
  background-color: $white;
}

.home__image-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* universal */

body {
  // padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  // margin-bottom: 10px;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $black;
  color: $black;
  a {
    color: $black;
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
      font-family: 'Work Sans', sans-serif;
    }
  }
}
