<!-- <div class="row">
  <div class="col-md-4">
    <h2>Open Source</h2>
    <h5>Poly.gg is a Game Developer community code snippet hosting website. Instantly publish your Poly's and then install them. Use the search bar and find out more about available Polys. Become a contributor and improve the site yourself.</h5>
  </div>
  <div class="col-md-4">
    <h2>We Need Your Help</h2>
    <h5>We need your help to keep Poly.gg running smoothly and free for everyone to use. Become a member today and start sharing, using Poly.gg</h5>
  </div>
  <div class="col-md-4">
    <h2>Become A Moderator</h2>
    <h5>We need mods to help with any issues that come up with user accounts or Poly's that are causing trouble. If you would like to become a Mod. Go to the Github Page and let us know or Tweet @kinifi</h5>
  </div>
</div> -->
<script src="https://gumroad.com/js/gumroad-embed.js"></script>
<div class="gumroad-product-embed" data-gumroad-product-id="polysponsor"><a href="https://gumroad.com/l/polysponsor">Loading...</a></div>
